<footer class="topnav">
    <div class="footer-copyright">
        <div class="container">
            All articles belong to <a href="https://www.thenewstribune.com" target="_blank">The Tacoma News Tribune</a>
            <a class="gray-text text-lighten-4 right" href="/articles-json">Articles JSON</a>
        </div>
    </div>
</footer>